@tailwind base;
@tailwind components;

.button {
    @apply border border-grey-400 px-8 py-2 rounded-full text-black font-bold text-xs;
    transition: all 0.3s;

    &:hover {
        @apply bg-blue-light border-blue-light text-white;
    }
}

a {
    text-decoration: none;
    @apply font-light;
}

p {
    @apply font-light;
}

.container {
    max-width: 1060px;
}

.section {
    @apply px-8;
}

@tailwind utilities;
